<%= render "shared/partial", user: @user %>

<%= form_with url: search_rooms_path, method: :get, class: "search-form", local: true do |f| %>
    <%= f.text_field :address, :placeholder => "エリア名を入力" %>
    <%= f.submit "検索", class: "search-button" %>
<% end %>

<h2 class=area>おすすめエリア</h2>
  
<div class = "RecomendArea">

   <%= link_to search_rooms_path(address:"東京") do %>
    <span>
    東京
    </span>
   <% end %> 

   <%= link_to search_rooms_path(address:"大阪") do %>
    <span>
    大阪
    </sapn>
   <% end %>

   <%= link_to search_rooms_path(address:"京都") do %>
    <span>
    京都
    </sapn>
   <% end %>

   <%= link_to search_rooms_path(address:"札幌") do %>
    <span>
    札幌
    </sapn>
   <% end %>

</div>
