<div class ="reservation-confirm-summary">

  <h3>予約内容の確認</h3>
  <table> 
    <tr>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>日数</th>
      <th>人数</th>
      <th>お支払い金額</th>
    </tr>

    <%= form_with(model: @reservation, url: reservations_path, local: true ) do |f| %>
      <tr>
          <%= f.hidden_field :user_id, value:current_user.id %>
          <%= f.hidden_field :room_id, value:@room.id %>
        <td><%= @reservation.start_day.strftime("%Y年%m月%d日") %></td>
          <%= f.hidden_field :start_day %>
        <td><%= @reservation.end_day.strftime("%Y年%m月%d日") %></td>
          <%= f.hidden_field :end_day %>
        <td><%= @stay_days.to_i %></td>
          <%= f.hidden_field :stay_days, value:@stay_days %>
        <td>
          <%= @reservation.number %>人
        </td>
          <%= f.hidden_field :number %>
        <td>
          <%= @total_amount_price.to_i %>円
        </td>
          <%= f.hidden_field :total_amount_price, value:@total_amount_price %>
      </tr>
  </table>

   <p>上記内容で正しければ「確定」ボタンを押してください。</p>
   <%= f.submit "予約を確定する" %>
   <%= link_to "キャンセル", :back %>
   <% end %> 
</div>