<h3>予約済み一覧</h3>
  <table>
   <thead>
    <tr>
     <th>施設画像</th>
     <th>施設名</th>
     <th>紹介文</th> 
     <th>合計料金</th>
     <th>チェックイン日</th>
     <th>チェックアウト日</th>
     <th>予約確定日時</th>
    </tr>
   </thead>

   <tbody>
      
      <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.room.title %></td>
        <td>¥<%= reservation.total_amount_price.to_i %></td>
        <td><%= reservation.start_day.to_s(:date_jp) %></td>
        <td><%= reservation.end_day.to_s(:date_jp) %></td>
        <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
        <td>
        <%= button_to "予約を削除する",reservation_path(reservation.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </td>
       </tr>
    <% end %>
   </tbody>
  </table>